<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sonata Admin 2.2 + KnpLabs Translatable. Вывод данных в списках</title>

        <meta name="description" content="...иногда даже получается">
        <meta name="author" content="Андрей Котельник">
        <meta name="viewport" content="width=device-width">
        <meta name="google-site-verification" content="srcHAgeuk6CVcbIN_EgR07rRYW1oG420EIbLWAB73P4" />

        
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400"><link rel="stylesheet" href="./css/poole.css"><link rel="stylesheet" href="./css/lanyon.css"><link rel="stylesheet" href="https://yandex.st/highlightjs/8.0/styles/github.min.css"><link rel="stylesheet" href="./css/style.css">                <!-- Icons -->
        <link rel="apple-touch-icon" sizes="144x144" href="./apple-touch-icon-144-precomposed.png">
        <link rel="shortcut icon" href="./favicon.ico">
        <!-- RSS -->
        <link rel="alternate" type="application/rss+xml" title="RSS" href="./feed/atom.xml">
    </head>

    <body>
                    <!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" />

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <aside class="sidebar-item">
        <p class="text-justify">Здесь должен быть текст, который покажет, что я не только хороший специалист, но и приятный человек, но я его пока не придумал</p>
    </aside>

    <nav class="sidebar-nav">
                    <a href="about.html" class="sidebar-nav-item">
                    Кто здесь?!
            </a>
                <a href="https://github.com/Ascendens" class="sidebar-nav-item" rel="nofollow">GitHub</a>
    </nav>

    <footer class="sidebar-item">
        <p>&copy; 2017 www.ascendens.net</p>
    </footer>
</div>
            <div class="wrap">
                <div class="masthead">
                    <header class="container">
                        <h3 class="masthead-title">
                            <a href="/" title="Home">Пытаясь программировать</a>
                            <small>...иногда даже получается</small>
                        </h3>
                    </header>
                </div>

                                    <main class="container content">    <article class="post">
        <header>
            <h1 class="post-title">    Sonata Admin 2.2 + KnpLabs Translatable. Вывод данных в списках</h1>
                        <time class="post-date" datetime="2014-08-18T18:53:29+03:00">18 Авг 2014</time>    
        </header>
        <p>Впервые попытавшись работать в Sonata Admin с сущностями, переводы которых обеспечивал KnpLabs Translatable, я наткнулся
на неприятный момент &mdash; нет очевидного варианта выводить данные нужной локали в списках. О своем решении этого вопроса
я бы хотел сегодня рассказать. <!--more--></p>
<p>Sonata Admin достаточно мощный инструмент и обладает таким замечательным функционалом, как автоматическое определение
типа данных в поле, а также вывод данных связанных сущностей. Но, в случае с&nbsp;KnpLabs Translatable, мощности оказалось
недостаточно и пришлось придумывать свое решение. Как только я не пытался получить информацию из переводов.</p>
<pre><code class="language-php">protected function configureListFields(ListMapper $listMapper)
{
  $listMapper
    -&gt;add('title')
    -&gt;add('translations.title')
    -&gt;add('translations.ru.title')
  ;
}</code></pre>
<p>Но ничего не помогало &mdash; колонка таблицы была просто пуста. Не помогло и добавление метода _call в сущность, о котором
можно <a href="https://github.com/KnpLabs/DoctrineBehaviors#proxy-translations">почитать в официальной документации</a>.</p>
<p>На выручку пришла возможность создавать свои шаблоны для полей списка в&nbsp;Sonata Admin, а также небольшая модификация того
самого "волшебного" механизма проксирования. Получилось вот так:</p>
<pre><code class="language-php">class Entity 
{
  public function __call($method, $arguments)
  {
    if( !empty($arguments[0]) &amp;&amp; is_array($arguments[0]) 
        &amp;&amp; array_key_exists('locale', $arguments[0]) 
    ) {
      $this-&gt;setCurrentLocale($arguments[0]['locale']);
    }

    return $this-&gt;proxyCurrentLocaleTranslation($method, $arguments);
  }
}</code></pre>
<p>Вот такой шаблон:</p>
<pre><code class="language-twig">
{% set fieldName = 'get' ~ field_description.options.field %}
{% set value = attribute( object, fieldName, [{ 'locale': field_description.options.locale }] ) %}

{% if field_description.type == 'text' %}
    {% include 'SonataAdminBundle:CRUD:base_list_field.html.twig' with { 'value': value } %}
{% else %}
    {% include 'SonataAdminBundle:CRUD:list_' ~ field_description.type ~ '.html.twig' with { 'value': value } %}
{% endif %}
</code></pre>
<p>И такой код вызова шаблона в классе Admin:</p>
<pre><code class="language-php">protected function configureListFields(ListMapper $listMapper)
{
  $listMapper
    -&gt;add('title_ru', null, , array(
        'field' =&gt; 'title', //Имя поле, данные которого нужно вывести
        'label' =&gt; 'Заголовок (RU)',
        'template' =&gt; 'translatable.html.twig', //Имя шаблона, где находится код из блока повыше
        'locale' =&gt; 'ru'
      ))
  ;
}</code></pre>
<p>Теперь данные отлично выводятся. Неудобство только в том, что если содержимое не является текстом, нужно конкретно
указать тип поля, чтобы на полную использовать оформление Sonata Admin, но, возможно, есть способ этот вопрос решить.
Если я найду панацею, то обязательно поделюсь ней с вами. Следите за обновлениями!</p>
        
    </article>
</main>
                            </div>
        
        <label for="sidebar-checkbox" class="sidebar-toggle"></label>

                    <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                if (window.location.host.indexOf('local') === -1) {
                    ga('create', 'UA-18144383-3', 'auto');
                    ga('send', 'pageview');
                }
            </script>
            <script src="https://yandex.st/highlightjs/8.0/highlight.min.js"></script>
            <script>hljs.initHighlightingOnLoad();</script>
            </body>
</html>